.slider {
  .slider-cursor {
    border-width: 0.125rem;
    margin-top: -0.375rem;
    margin-left: -0.375rem;
    // 动画：200ms
    transition: width 200ms, height 200ms, margin 200ms, box-shadow 200ms;
  }

  &:hover {
    .slider-cursor {
      width: 1.1rem;
      height: 1.1rem;
      box-shadow: 0 0 0 0.1rem #0ea5e9cc;
      margin-top: -0.425rem;
      margin-left: -0.425rem;
    }
  }
}
