
.loading {
  background-image: url('../../assets/loading.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0; /* * 黑色遮罩透明度闪烁 */

  .loading__mask {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    animation: mask 5s infinite;
  }

  @keyframes mask {
    0% {
      background-color: rgba(0, 0, 0, 0.5);
    }

    50% {
      background-color: rgba(0, 0, 0, 0);
    }

    100% {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}
