.em-range {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    cursor: pointer; /* 使旋钮可点击 */
}

.value-display {
    margin-top: 10px;
    font-size: 18px;
}